@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeue.ttc');
}

body {
  font-family: 'HelveticaNeue';
}

.homeButtons {
  background-color: #62A1EB;
  border: none;
  color: white;
  padding: 18px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  width: 387px;
}

ul {
  display: inline-block;
  padding: 0;
}

li {
  list-style: none;
}

.addRecord {
  margin-top: 123px;
  margin-bottom: 26px;
}

#logo {
  margin-top: 79px;
  margin-bottom: 85px;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}